.footer{
    background-color: rgb(10, 48, 10);
  display: grid;
  height: 500px;
  margin-top: 2%;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 5%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  gap:10px;
}
h4{
    color: rgb(74, 148, 78);
    font-size: 25px;
    margin-bottom: 10%;
   
  }
  p{
    color: white;
    font-size: 20px;
    line-height: 30px;
   
  }
  input::placeholder{
    font-size:18px;
    color: rgb(74, 148, 78);
  }
  input:focus{
    outline: none;
  }
  input{
    font-size: 20px;
  }
  .section2{
    padding-left: 50%;
  }
    .section2 p{
      
        line-height: 50px;
        top: 4%;
        position: relative;
    }
      
  
  .section3 p{
    line-height: 50px;
    
  }
  .sec{
   text-decoration: underline;
  }
  
  .sec span{
    color: #e18529;
  }
  .section4 button{
    width: 310px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}
