*{
  margin: 0;
  padding: 0;
}

body{
background-color: rgb(219, 243, 224);
}
.welcometext{
  margin: 0 7% 0 7%;
  
}
.welcometext h1{
    color: rgb(11, 42, 11);
    text-align: center;
    margin-top: 2%;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h6{
  font-size: 18px;
  line-height: 35px;
  color: rgb(11, 42, 11);
text-align: start;
padding-top: 2%;
font-weight: 100;
}

.header {
  color: rgb(11, 42, 11);
    text-align: center;
    margin-top: 3%;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





/*grid layout */
.flexbox{
  margin: 0 7% 0 7%;
  font-weight: 100;
  display: flex;
  margin-top: 2%;
  gap: 10%;
 } 


.text h6{
  
}
.img{
    background-image: url("../image/roadsatus2.jpg");
  height:450px;
  width: 100%;
    position: relative;
  background-size: cover;
   background-position: center;
   object-fit: cover;
}
.flexbox2{
  margin: 0 7% 0 7%;
  font-weight: 100;
  display: flex;
  margin-top: 2%;
  gap: 10%;

}
.img1{
    background-image: url("../image/pothole2.jpg");
    height:450px;
    width: 230%;
  margin-top: 4%;
    position: relative;
  background-size: cover;
   background-position: center;
   object-fit: cover;
}

.message{
 
  height: 50vh;
  background-color: rgb(11, 42, 11);
  margin: 0 7% 0 7%;
  padding-left: 4%;
    padding-right: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.message h1{
  color: white;
    width: 40%;
    padding-top: 6%;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}
.message h6{
  font-size: 18px;
  padding-top: 1%;
  font-weight: 100;
  color: white;

}

.bttn {
  background-color: white;
  color: rgb(11, 42, 11);
  font-size: 15px;
  height:35px;
  width: 16%;
  display: flex;
  margin-top: 1%;
  align-items: center;
  border: none;
  justify-content: center;

}