.mapstatus{
    /* background-image:  url("../image/new.jpg"); */
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 66%), url("../image/roads1.jpg");
    object-fit: cover;
      background-position: center;
      background-size: cover;
    height: 50vh;
    /* background-color: rgb(11, 42, 11); */
    margin: 0 7% 0 7%;
    padding-left: 4%;
      padding-right: 4%;
      margin-top: 5%;
      margin-bottom: 5%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
  }
  
  .mapstatus h1{
    color: white;
      width: 70%;
      padding-top: 6%;
      font-size: 35px;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
      
  }
  .mapstatus h6{

    font-size: 20px;
    width: 60%;
    padding-top: -1%;
    font-weight: 100;
    color: white;
  
  }

  .omo{
    font-weight: bold;
    font-size: 15px;
    color:#00650A;
    text-decoration: none;
  }
  
  .bttn {
    background-color: white;
    color: rgb(11, 42, 11);
    font-size: 15px;
    height:35px;
    width: 16%;
    display: flex;
    margin-top: 1%;
    align-items: center;
    border: none;
    justify-content: center;
  
  }

.header{
   

flex-shrink: 0;
color: #00650A;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: space-around;
   
}
.content img{
    background-position: center;
    object-fit: cover;
    background-size: cover;
    width: 320px;
    height: 464px;
    margin-bottom: 20px;
    border-radius: 1%;
    border:  black;
}
.details{
  position: relative;
  bottom: 100px;
  background-color: rgb(222, 219, 219);
  width: 296px;
  display: block;
  align-items: center;
}
.header p{
color: #040D00;
font-family: Inter;
font-size: 13px;
font-style: italic;
font-weight: 300;
line-height: normal;

}
.contain{
    
height: 300px;
flex-shrink: 0;
background: #E7FFD3;
margin-left: 3%;
margin-top: 2%;
margin-right: 3%;
padding-right: 3%;
padding-left: 3%;
margin-bottom: 3%;
}
.btn-wrapper{
 display: flex;
 justify-content: end;
 padding-top: 3%;
}
.link{
    width: 155px;
    height: 41px;
    margin-left: 40%;
    margin-top: 15px;
    border-radius: 4px;
    background: #00650A;
    color: white;
    font-size: 19px;
}
.mini-text{
    color: rgba(70, 69, 69, 0.95);
text-align: justify;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 3%;
padding-bottom: 1%;
}
.grid2{
    display: flex;
    width: 100%;
    align-items: end;
    gap:1%;
}
.rectangle{
    width: 90%;
height: 194px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
}
.timestamp{
    font-size: 11px;
}
hr{
    margin-top: 2%;
    height: 1px;
    background: #00650A;
}
.chat{
  color:black;
  font-size: 22px;
  width:90%;
  margin-left: 5%;
  margin-top:2%;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.typee{
  margin-left: 5%;
  width: 90%;
    height:290px;
    border: none;
    background-color: #d6d6d6;
  font-size: 18px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
  cursor: pointer;
}

.ccomment{
  margin-top: 35px;
  margin-left: 70px;
}
.modal-head{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.close-btn{
  font-size: 30px;
  font-weight: bold;
  margin-left: 95%;
  background: transparent;
}
.modal-content{
  padding: 0 5% 0 5%;
}
.modal-details{
  font-size: 20px;
  margin-top: 8%;
  
}
